/*Primary Header*/
h1 {
	font-family: 'Monoton', cursive;
	color: #8E5C5D;
}

/*Body Text*/
p {
	font-family: 'Lobster', cursive;
	color: #F2E9E2;
}

/*Baseline Links*/
a:link,
a:visited {
	border-bottom: dashed orange 2px;
	text-transform: uppercase;
	text-decoration: none;
}

a:hover {
	background: #82AE59;
}

/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: #7E8A88;
}

.color-2 {
	background: #9D7A80;
}

.color-3 {
	background: #B0B0B0;
}

.pattern-1 {
	background: url("../img/pat1.png");
}

.pattern-2 {
	background: url("../img/pat2.png");
}
.pattern-3 {
	background: url("../img/pat3.png");
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}